* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;

  --color-accent: #0e9cf1;
  --color-accent-40: rgba(14, 156, 241, 0.4);
  --color-primary: #192a3e;
  --color-error: rgba(255, 53, 93, 1);
  --color-secondary: #9ca0aa;
  --bg-primary: #f5f6f8;
  --bg-secondary: #ffffff;
  --border-color: #cacaca;
}

html,
* {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  height: -webkit-fill-available;
  background: var(--bg-primary);
}

body {
  position: relative;
  overflow: hidden auto;
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
}

body * {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  text-decoration: none;
}

p {
  white-space: pre-line;
}

.placeholder {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  width: 100%;
  margin: 10px auto;
}

.container {
  max-width: 1140px;
  padding: 0 16px;
  margin: 0 auto;
}
